@model HomeModel

<h2 class="homeTitle">THE CONVERTER.</h2>

<div class="convertForm">
    <form asp-controller="Home" asp-action="" method="post" enctype="multipart/form-data">

        <div class="box">

            <div class="item-1">
                <div class="defaultItem">
                    <label><span class="numbers">1</span>. Convert from:</label><br />
                    <select id="IDEFrom" asp-for="IdeFrom">
                        <option selected disabled>Select IDE</option>
                        <option>Eclipse</option>
                        <option>Visual Studio</option>
                    </select>
                </div>
                <br />
                <div id="optionalParameters" class="defaultItem">
                    <label><span class="numbers">1</span>.<span class="numbers">5</span>. Prioritize theme from:</label><br />
                    <input type="radio" name="para" id="CCsharp" value="CCsharp" asp-for="CCsharp" />
                    <label for="CCsharp">C/C#</label>
                    <br />
                    <input type="radio" name="para" id="Cpp" value="Cpp" asp-for="Cpp" />
                    <label for="Cpp">C++</label>
                    <br />
                    <input type="radio" name="para" id="CssScss" value="CssScss" asp-for="CssScss" />
                    <label for="CssScss">CSS/SCSS</label>
                    <br />
                    <input type="radio" name="para" id="Html" value="Html" asp-for="Html" />
                    <label for="Html">html</label>
                    <br />
                    <input type="radio" name="para" id="Xml" value="Xml" asp-for="Xml" />
                    <label for="Xml">xml</label>
                    <br />
                    <input type="radio" name="para" id="Xaml" value="Xaml" asp-for="Xaml" />
                    <label for="Xaml">xaml</label>
                    <br />
                </div>
            </div>

            <div class="item-2">
                <div class="defaultItem">
                    <label><span class="numbers">2</span>. Choose your theme:</label><br />
                    <input id="chooseFile" type="file" name="file" formenctype="multipart/form-data" accept="" style="display: none;" />
                    <input class="chooseFileButton" type="button" value="Choose File" onclick="document.getElementById('chooseFile').click();" />
                    <br />
                    <span id="fileName"></span>
                </div>
                <div class="defaultItem">
                    <label><span class="numbers">3</span>. Convert to:</label><br />
                    <select id="IDETo" asp-for="IdeTo">
                        <option selected disabled>Select IDE</option>
                        <option>Eclipse</option>
                        <option>Visual Studio</option>
                    </select>
                    <p class="warning"></p>
                </div>
            </div>

            <div class="item-3">
                <div class="defaultItem">
                    <label><span class="numbers">4</span>. Convert:</label><br />
                    <button id="Convert" type="submit" formaction="/Home/Convert" usesubmitbehaviour="false" onclick="Download.disabled='true'">Convert </button>
                    <p class="error"></p>
                </div>
                <div class="defaultItem">
                    <label><span class="numbers">5</span>. Download:</label><br />
                    <button id="Download" name="Download" onclick="location.href='@Url.Action("Download", "Home")'">Download </button>
                </div>
            </div>
        </div>

    </form>
</div>

<p>@ViewData["a"]</p>
<p>@ViewData["b"]</p>
<p>@ViewData["c"]</p>
<p>@ViewData["d"]</p>
<p>@ViewData["e"]</p>
<p>@ViewData["f"]</p>
<p>@ViewData["g"]</p>
<p>@ViewData["h"]</p>
<p>@ViewData["i"]</p>
<p>@ViewData["j"]</p>
<p>@ViewData["k"]</p>
<p>@ViewData["l"]</p>
<p>@ViewData["m"]</p>
<p>@ViewData["n"]</p>
<p>@ViewData["o"]</p>
<p>@ViewData["p"]</p>
<p>@ViewData["q"]</p>
<p>@ViewData["r"]</p>
<p>@ViewData["s"]</p>
<p>@ViewData["t"]</p>
<p>@ViewData["u"]</p>
<p>@ViewData["v"]</p>
<p>@ViewData["x"]</p>
<p>@ViewData["y"]</p>
<p>@ViewData["z"]</p>
<p>@ViewData["aa"]</p>
<p>@ViewData["bb"]</p>
<p>@ViewData["cc"]</p>
<p>@ViewData["dd"]</p>
<p>@ViewData["ee"]</p>
<p>@ViewData["ff"]</p>
<p>@ViewData["gg"]</p>

<script>
    //setup on page load
$(document).ready(function () {

    $("div#optionalParameters").hide();

    @if (ViewData["DownloadCounter"].ToString() == "1") {

        <text>$("button#Download").prop("disabled", false);</text>

            //it's a correct file and show a success message
            <text>$("p.error").text("Successfully converted. =)");</text>
            <text>$("p.error").css("color", "rgb(46,196,182)");</text>
            }
    @if (ViewData["DownloadCounter"].ToString() != "1") {

        <text>$("button#Download").prop("disabled", true).addClass("disabled");</text>
            <text>$("p.error").css("color", "rgb(231,29,54)");</text>
            }

    //$("button#Download").prop("disabled", true);

    $("p#artificialControl").text($("#chooseFile").val());

});

</script>

<script src="~/js/Home.js">

</script>

